.career-goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title-career-goals title-career-goals"
    "shot-term-goals long-term-goals";
}
.title-career-goals {
  grid-area: title-career-goals;
}
.shot-term-goals {
  grid-area: shot-term-goals;
}
.long-term-goals {
  grid-area: long-term-goals;
}
