main {
  max-width: 900px;
  width: 100%;
  border: 1px dashed black;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* .text-uppercase {
  text-transform: uppercase;
} */
.main-profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px;
  gap: 20px;
}
.border-bottom-custom {
  border-bottom: 1px solid rgb(150, 146, 146);
  padding: 5px;
}
footer {
  background-color: rgb(19, 129, 19);
  height: 50px;
  width: calc(100% + 40px); /* Mở rộng chiều rộng */
  position: relative;
  left: -20px; /* Đẩy sang trái để căn chỉnh với main */
  border-radius: 10px 10px 5px 5px;
}
.printPDF {
  position: fixed;
  top: 20px;
  right: 20px;
}
