input {
  border: none;
  outline: none;
  min-width: 200px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.time-on-job {
  display: flex;
  flex-direction: row;
}
input:focus {
  position: absolute;
  z-index: 9999;
  outline: 0 rgb(192, 192, 191);
  width: 300px;
  height: 100px;
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  border-radius: 10px;
}

/* Overlay làm mờ các phần tử bên dưới */
input:focus::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.avartar {
  position: relative;
  overflow: hidden;
}
.avartar .camera {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.avartar:hover .camera {
  opacity: 1;
  transform: scale(1.5);
}

.icon-custom {
  color: rgb(38, 57, 230);
  cursor: pointer;
}
.icon-custom:hover {
  color: brown;
}
.certificate-form {
  margin-bottom: 15px;
}
.modal-dialog-custom {
  max-width: 800px;
  width: 90%;
}
.modal-body-certificate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input-certificate {
  gap: 10px;
}
.icon-add-img-certificate {
  font-size: 50px;
  cursor: pointer;
}
.img-add-certificate {
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#quill-custom {
  height: 375px;
}
.chosse-file {
  border: 1px dashed rgb(129, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  max-height: 150px;
  cursor: pointer;
  flex-direction: column;
  gap: 10px;
  color: rgb(12, 92, 211);
}
.chosse-file img {
  width: 100px;
  height: 100px;
  object-position: center;
  object-fit: cover;
}
