input {
  border: none;
  outline: none;
}
.time-on-job {
  display: flex;
  flex-direction: row;
}
input :focus {
  border: 1px soid red;
}
.avartar .image-update {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.avartar .image-update:hover {
  transform: scale(1.2);
  opacity: 0.4;
}

.avartar .camera {
  position: absolute;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 25px;
}
.icon-custom {
  color: rgb(38, 57, 230);
  cursor: pointer;
}
.icon-custom:hover {
  color: brown;
}
.certificate-form {
  margin-bottom: 15px;
}
.modal-dialog-custom {
  max-width: 800px;
  width: 90%;
}
.modal-body-certificate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-input-certificate {
  gap: 10px;
}
.icon-add-img-certificate {
  font-size: 50px;
  cursor: pointer;
}
.img-add-certificate {
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#quill-custom {
  height: 375px;
}
