<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="lib/bootstrap-5.3.3-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/common.css" />
    <style>
      body {
        background-color: #cc2f4e;
      }
      main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      img {
        width: 400px;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
    </style>
  </head>
  <main class="flex-align-center">
    <img src="accest/img-500.png" alt="" />
    <button class="btn btn-outline-light">Back To Login</button>
  </main>
  <body>
    <script src="lib/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
